@* TODO: use some helper *@
@()(implicit c: hedgehog.views.ViewContext)

<div class="footer">
    <div class="container">
        <ul class="footer-links text-muted">
            <li>&copy;&thinsp;@c.copyrightYears</li>
            <li>·</li>
            <li>v&thinsp;@c.version</li>
            <li>·</li>
            <li><a href="@routes.Frontend.about">@c.Messages("footer.About")</a></li>
            <li>·</li>
            <li><a href="@c.projectRepoUrl/issues?state=open">@c.Messages("footer.Issues")</a></li>
            <li>·</li>
            <li>
                <span class="hedgehog_language-picker b-language-picker-footer">
                    <div class="dropup b-language-picker-footer_wrapper">
                        <a class="dropdown-toggle b-language-picker-footer_link" data-toggle="dropdown" href="#">
                            @c.Messages("footer.ChooseLanguage")
                        </a>
                        <ul class="dropdown-menu hedgehog_language-picker--langs">
                            @for(l <- c.availableLanguages) {
                                <li>
                                @if(l == c.lang) {
                                    <b data-lang-code="@l.code" class="hedgehog_language-picker--lang">
                                        @l.code.toUpperCase
                                    </b>
                                } else {
                                    <a href="#" data-lang-code="@l.code" class="hedgehog_language-picker--lang">
                                        @l.code.toUpperCase
                                    </a>
                                }
                                </li>
                            }
                        </ul>
                    </div>
                    <form class="hedgehog_language-picker--form b-language-picker-footer_form"
                          action="@routes.Language.set" method="post">
                        <input type="text" name="lang" value=""/>
                    </form>
                </span>
            </li>
        </ul>
    </div>
</div>
