@* TODO: use some helper *@
@()(implicit l: Lang)

<div class="footer">
    <div class="container">
        <ul class="footer-links text-muted">
            <li>&copy;&thinsp;2013</li>
            <li>·</li>
            <li>v&thinsp;0.0.1</li>@* FIXME: use var *@
            <li>·</li>
            <li><a href="@routes.Frontend.about">@Messages("footer.About")</a></li>
            <li>·</li>
            <li><a href="https://github.com/maizy/heDgeHog/issues?state=open">@Messages("footer.Issues")</a></li>
        </ul>
    </div>
</div>
