html,
body {
    height: 100%;  /* The html and body elements cannot have any padding or margin. */
}

.wrapper {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;  /* Negative indent footer by its height */
    padding: 20px 20px 60px 20px;  /* Pad bottom by footer height */
}

.footer {
    height: 60px;  /* Set the fixed height of the footer here */
    background-color: #f5f5f5;
}

.footer .footer-links {
    margin: 20px 0;
}

.footer .text-muted {
    color: #999;
}

.footer .text-muted a {
    color: #67a4dc;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 30px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.container {
    max-width: 730px;
}

.footer-links {
    margin: 10px 0;
    padding-left: 0;
}

.footer-links > li {
    display: inline;
    padding: 0 2px;
}

.footer-links > li:first-child {
    padding-left: 0;
}

.b-language-picker-footer {
    display: inline-block;
}
    .b-language-picker-footer_wrapper {
        position: relative;
        display: inline-block;
    }

    .b-language-picker-footer_form {
        display: none;
    }

/* TODO: is there anything in bootstrap for this? */
.dropdown-menu>li>b, .dropdown-menu>li>span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.428571429;
    white-space: nowrap;
}
