@()(implicit c: keemun.views.ViewContext)

@scripts = {
  <script src="@routes.Assets.at("keemun/utils.js")"></script>
  <script src="@routes.Assets.at("keemun/search/form.js")"></script>
  <script type="text/javascript">
  //<![CDATA[
  $(function () {
      keemun.SearchForm.main = new keemun.SearchForm(
          $('.keemun_search_form'),
          window.location.href.indexOf('debug=true') != -1
      );
  });
  // ]]>
  </script>
}

@templates.main(scripts = scripts, nav = "search") {
    <div class="row">
        <div class="keemun_search_form col-lg-10 col-lg-offset-1">
            <form action="https://github.com/search" method="GET" class="keemun_search_form--element">
                <fieldset>
                    <div class="form-group">
                        <label for="text_search">@c.Messages("Code_search")</label>
                        <input id="text_search" type="text" required
                               class="form-control input-lg keemun_search_form--text-search"
                        />
                        <p class="help-block keemun_search_form--stat hidden"></p>
                    </div>
                    <button type="submit"
                            class="btn btn-lg btn-primary"
                            disabled="disabled"
                            data-ready-text="@c.Messages("Go_search_button")">
                        @c.Messages("Go_search_button_loading")
                    </button>
                </fieldset>
            </form>

            <form action="https://github.com/search" method="GET" class="keemun_search_form--real-form"
                  style="display : none ;">
                <input type="text" name="q" style="width: 800px;"/>
                <input type="text" name="type" value="Code"/>
                <input type="submit" />
            </form>
        </div>
    </div>
}
