@()(implicit lang: Lang)

@scripts = {
  <script src="@routes.Assets.at("javascripts/hedgehog/utils.js")"></script>
  <script src="@routes.Assets.at("javascripts/hedgehog/search/form.js")"></script>
  <script type="text/javascript">
  //<![CDATA[
  $(function () {
      new hedgehog.SearchForm(
          $('.hedgehog_search_form'),
          window.location.href.indexOf('debug=true') != -1
      );
  });
  // ]]>
  </script>
}

@templates.main(scripts = scripts, nav = "search") {
    <div class="row">
        <div class="hedgehog_search_form col-lg-10 col-lg-offset-1">
            <form action="https://github.com/search" method="GET" class="hedgehog_search_form--element">
                <fieldset>
                    <div class="form-group">
                        <label for="text_search">@Messages("Code_search")</label>
                        <input id="text_search" type="text" required
                               class="form-control input-lg hedgehog_search_form--text-search"
                        />
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary" disabled="disabled">
                        @Messages("go_search_button")
                    </button>
                </fieldset>
            </form>

            <form action="https://github.com/search" method="GET" class="hedgehog_search_form--real-form"
                  style="display : none ;">
                <input type="text" name="q" style="width: 800px;"/>
                <input type="text" name="type" value="Code"/>
                <input type="submit" />
            </form>
        </div>
    </div>
}
