@(config: keemun.Config, playVersion: String, scalaVersion: String, fetcherStats: Map[String, Int],
        jreVersion: Option[String] = None)(implicit c: keemun.views.ViewContext)

@templates.main(nav = "status") {
    <h1>@c.Messages("Status")</h1>

    <h3>@c.Messages("Some_configs")</h3>

    <table class="table">
        <tbody>
            <tr>
                <td>github base api url</td>
                <td>@config.apiBaseUrl</td>
            </tr>

            <tr>
                <td>available langs</td>
                <td>@c.availableLanguages.map(_.code).mkString(", ")</td>
            </tr>

            <tr>
                <td>current lang</td>
                <td>@c.lang.code</td>
            </tr>

        </tbody>
    </table>

    <h3>@c.Messages("Versions")</h3>

    <table class="table">
        <tbody>
            <tr>
                <td>scala</td>
                <td>@scalaVersion</td>
            </tr>

            <tr>
                <td>play</td>
                <td>@playVersion</td>
            </tr>

            <tr>
                <td>keemun</td>
                <td>@c.version</td>
            </tr>
            @jreVersion.map { v =>
                <tr>
                    <td>JRE</td>
                    <td>@v</td>
                </tr>
            }
        </tbody>
    </table>

    <h3>@c.Messages("Fetcher_stats")</h3>

    <table class="table">
        <tbody>
            @for((param, value) <- fetcherStats) {
              <tr>
                <td>@param</td>
                <td>@value</td>
            </tr>
            }
        </tbody>
    </table>
}
